Repository adwise-fiu/Level-Site-PPDT, changes with the labels that .github/labeler.yml gives for each.
All labels: Docker, external-pr, Kubernetes, Gradle, Documentation, Github-files

Remove pull_request_target in testing
  .github/workflows/build-gradle-project.yml
Labels: Github-files

Update client.java with initials
  src/main/java/weka/finito/client.java
Labels: none

Update README.md
  README.md
Labels: Documentation

Allow for any new pushes in a PR to allow for another approval request
  .github/workflows/review-approval.yml
Labels: Github-files

Update client.java
  src/main/java/weka/finito/client.java
Labels: none

testing internal PR
  README.md
Labels: Documentation

.github/labeler.yml:

Docker:
  - Dockerfile

external-pr:
  - 'pull_request_target'

Kubernetes:
  - 'k8s/**'
  - 'templates_yamls/**'
  - 'eks-config/**'

Gradle:
  - 'gradle/**'
  - 'gradlew'
  - 'gradlew.bat'
  - 'settings.gradle'
  - 'gradle.properties'

Documentation:
  - '**/*.md'

Github-files:
  - .github/**
